h1 {
    color: blue;
    text-align: center;
  }
  h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
  }
  ul,ol {
    line-height: 40px;
  }
  img{
      height: 500px;
      width: 500px;
  }
  strong{
      font-style: italic;
  }
  em{
      font-weight: bold;
  }
  ol, ul{
      background-color: aqua;
  }
  a{
      font-size: 4vh;
      color: maroon;
  }